@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap");

.algo-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

/* Modal Content/Box */
.algo-modal-content {
    background-color: #fefefe;
    margin: 2% auto; /* 15% from the top and centered */
    border: 10px solid orangered;
    border-radius: 20px;
    /* border-bottom: 10px solid turquoise; */
    width: 80%; /* Could be more or less, depending on screen size */
    height: 90%;
    font-size: 25px;
    z-index: 3;
    position: fixed;
    left: 10%;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 1em;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    font-family: "Open Sans Condensed", sans-serif;
    overflow-y: auto;
}

/* The Close Button */
.algo-close {
    color: #aaa;
    /* float: right; */
    position: fixed;
    left: 86%;
    top: 6%;
    font-size: 50px;
    font-weight: bold;
    z-index: 4;
    transition: all 0.2s ease;
}

.algo-close:hover,
.algo-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 45px;
    transition: all 0.2s ease;
}
